* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

body {
  zoom: 1;
}

ol,
ul,
h1,
h2,
h3,
h5,
h4,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.container {
  max-width: 1560px;
  width: 91%;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #F3F5F7;
  min-height: 100vh;
  direction: rtl;
  text-align: right;
}

.open-m {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.open-m svg {
  width: 25px;
  height: 25px;
  fill: #926DDE;
}

.open-c {
  left: 260px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dash-menu {
  width: 350px;
  height: calc(100% - 50px);
  background: #3F4A59;
  position: absolute;
  right: -350px;
  top: 50px;
  overflow-y: auto;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.dash-menu-open {
  right: 0;
}

.dash-menu-head {
  padding: 15px;
  background: #926DDE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.dash-menu-head svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 10px;
}

.dash-menu-head span {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}

.dash-menu-head::after {
  content: " ";
  width: 5px;
  height: 5px;
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  border: 3px solid #F3F5F7;
}

.dash-menu-nav {
  margin-top: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #3F4A59;
  overflow-x: auto;
  width: 100%;
}

.dash-menu-nav::-webkit-scrollbar {
  height: 5px;
}

.dash-menu-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 560px;
}

.dash-menu-nav ul li {
  width: 80px;
  height: 35px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #fff;
  line-height: 35px;
  margin-bottom: 3px;
  text-transform: capitalize;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.dash-menu-nav ul li.active {
  background: #33cabb;
}

.dash-menu-body {
  padding: 10px 0;
}

.dash-menu-title {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash-menu-title span {
  color: #B6BABF;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.dash-menu-title p {
  margin-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: .5px dashed #4E5866;
}

.dash-menu-link {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash-menu-link svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 10px;
}

.dash-menu-link span {
  color: #E8E8DC;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
}

.collapse-header {
  padding: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.collapse-header .collapse-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collapse-header .collapse-header-left svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 10px;
}

.collapse-header .collapse-header-left span {
  color: #E8E8DC;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
}

.collapse-header > svg {
  width: 10px;
  height: 10px;
  fill: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.collapse-header.active {
  background: #33CABB;
}

.collapse-header.active > svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.collapse-body {
  padding: 15px;
  display: none;
}

.collapse-body ul li {
  padding: 10px;
  color: #F3F5F7;
  font-size: 14px;
  text-transform: capitalize;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.collapse-body ul li::after {
  content: " ";
  width: 5px;
  height: 5px;
  position: absolute;
  display: block;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #F3F5F7;
}

.collapse-body ul li.active::after {
  background: #33CABB;
  border-color: #33CABB !important;
}

nav {
  padding: 10px;
  background: #3F4A59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.nav-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-text h2 {
  text-align: center;
  color: #fff;
}

.nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar {
  margin-left: 10px;
  border: 0;
  background: transparent;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar:focus {
  outline: 0;
}

.bar svg {
  width: 22px;
  height: 22px;
  fill: #fff;
}

.bar.open-c {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-button {
  background: #926DDE;
  border: 0;
  color: #fff;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 14px;
  border-radius: 2px;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transform: all .5s;
          transform: all .5s;
  font-weight: 500;
}

.main-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.main-button:focus {
  outline: 0;
}

.sub-button {
  background: #33CABB;
  border: 0;
  color: #fff;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 14px;
  border-radius: 2px;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transform: all .5s;
          transform: all .5s;
  font-weight: 500;
}

.sub-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.sub-button:focus {
  outline: 0;
}

.input-c {
  margin-bottom: 20px;
}

.input-c label {
  display: block;
  color: #fff;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.input-c input,
.input-c select {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  height: 35px;
  padding: 0 10px;
  color: #fff;
}

.input-c input:focus,
.input-c select:focus {
  outline: 1px solid #33CABB;
  border: 1px solid #33CABB;
}

.input-c input option,
.input-c select option {
  color: #33CABB;
  background: #3F4A59;
}

.modal-dialog {
  max-width: 640px;
}

.modal-dialog .modal-header {
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-dialog .modal-header .close {
  padding: 0;
  margin: 0;
}

.body-img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-img ul li {
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 0 1px 4px 1px #0000000d;
          box-shadow: 0 1px 4px 1px #0000000d;
}

.body-img ul li img {
  width: 100%;
  height: 100%;
}

.body-img ul li.active {
  border: 2px solid #33CABB;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33CABB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=style.css.map */