
$main-color:#926DDE;
$sub-color:#33CABB;

* {
    margin: 0;
    padding: 0;
    
}



p {
    margin: 0;

}

ul {
    list-style: none;
}
body{
    zoom: 1;
}
ol,
ul,
h1,
h2,
h3,
h5,
h4,
h6 {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}
.container {
    max-width: 1560px;
    width: 91%;
}
body{
    font-family: 'Raleway', sans-serif;
    background: #F3F5F7;
    min-height: 100vh;
    direction: rtl;
    text-align: right;
}
// open
.open-m{
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all .5s;
    cursor: pointer;
    svg{
        width: 25px;
        height: 25px;
        fill: #926DDE;
    }
} 
.open-c{
    left: 260px;
    transform: rotate(90deg);
}
// open
// start dash-menu

.dash-menu{
    width: 350px;
    height: calc(100% - 50px);
    background: #3F4A59;
    position: absolute;
    right: -350px;
    top: 50px;
    overflow-y: auto;
    transition: all .5s;
}
.dash-menu-open{
    right: 0;
}


.dash-menu-head{
    padding: 15px;
    background: #926DDE;
    display: flex;
    align-items: center;
    position: relative;
    svg{
        width: 20px;
        height: 20px;
        fill: #fff;
        margin-left: 10px;
    }
    span{
        color: #fff;
        font-weight: bold;
        text-transform: capitalize;
    }
    &::after{
        content: " ";
        width: 5px;
        height: 5px;
        // background: #fff;
        position: absolute;
        display: block;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        border-radius: 50%;
        border: 3px solid #F3F5F7;
    }
}
.dash-menu-nav{
    margin-top: 10px;
    position: sticky;
    top: 0;
    background: #3F4A59;
    overflow-x: auto;
    width: 100%;
    &::-webkit-scrollbar{
        height: 5px;
    }
    ul{
        display: flex;
        justify-content: center;
        width: 560px;
        li{
            width: 80px;
            height: 35px;
            color: #fff;
            cursor: pointer;
            text-align: center;
            font-size: 15px;
            border-bottom: 1px solid #fff;
            line-height: 35px;
            margin-bottom: 3px;
            text-transform: capitalize;
            transition: all .5s;
        &.active{
            background: lighten($sub-color, 0%);
        }

        }
    }
}
.dash-menu-body{
    padding: 10px 0;
}
.dash-menu-title{
    padding: 15px;
    display: flex;
    align-items: center;
    span{
        color: #B6BABF;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
    }
    p{
        margin-right: 10px;
        flex-grow: 1;
        border: .5px dashed #4E5866;
    }
}
.dash-menu-link{
    padding:10px 15px;
    display: flex;
    align-items: center;
    svg{
        width: 20px;
        height: 20px;
        fill: #fff;
        margin-left: 10px;
    }
    span{
        color: #E8E8DC;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 14px;
    }
}
.collapse-header{
    padding:15px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .collapse-header-left{
        display: flex;
        align-items: center;
    svg{
        width: 20px;
        height: 20px;
        fill: #fff;
        margin-left: 10px;
    }
    span{
        color: #E8E8DC;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 14px;
    }
    }
    &>svg{
        width: 10px;
        height: 10px;
        fill: #fff;
        transition: all .5s;
        transform: rotate(90deg);
    }
    &.active{
        background: $sub-color;
        &>svg{
        transform: rotate(0deg);
        }
    }
}
.collapse-body{
    padding: 15px;
    display: none;
    ul{
        li{
            padding: 10px;
            color: #F3F5F7;
            font-size: 14px;
            text-transform: capitalize;
            padding-left: 30px;
            position: relative;
            cursor: pointer;
            &::after{
                content: " ";
                width: 5px;
                height: 5px;
                // background: #fff;
                position: absolute;
                display: block;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                border-radius: 50%;
                border: 2px solid #F3F5F7;
            }
            &.active{
                &::after{
                     background: $sub-color;
                     border-color: $sub-color !important;
                }
            }
        }
    }
}
// end dash-menu
// start nav bar
 nav{
     padding: 10px;
    background:#3F4A59 ;
    display: flex;
    align-items: center;
    height: 50px;
 }
 .nav-text{
     flex-grow: 1;
     h2{
         text-align: center;
         color:#fff
     }
 }
 .nav-button{
     display: flex;
     align-items: center;
 }
 .bar{
     margin-left: 10px;
     border: 0;
     background: transparent;
     transition: all 1s;
     cursor: pointer;
     display: flex;
     align-items: center;
     &:focus{
         outline: 0;
         
     }
     
     svg{
         width: 22px;
         height: 22px;
         fill: #fff;
     }
 }
 .bar.open-c{
     transform: rotate(180deg);
 }
 
 .main-button{
     background: $main-color;
     border: 0;
     color: #fff;
     padding: 5px 10px;
     
     margin:0 10px;
     font-size: 14px;
     border-radius:2px;
     text-transform: capitalize;
     cursor: pointer;
     transform: all .5s;
     font-weight: 500;
     &:active{
         transform: scale(.95);
     }
     &:focus{
         outline: 0;
     }
 }
 .sub-button{
    background: $sub-color;
    border: 0;
    color: #fff;
    padding: 5px 10px;
    
    margin:0 10px;
    font-size: 14px;
    border-radius:2px;
    text-transform: capitalize;
    cursor: pointer;
    transform: all .5s;
    font-weight: 500;
    &:active{
        transform: scale(.95);
    }
    &:focus{
        outline: 0;
    }
 }
// end nav bar
//  start local compoonent
.input-c{
    margin-bottom: 20px;
    label{
        display: block;
        color: #fff;
        margin-bottom: 5px;
        text-transform: capitalize;
    }
    input,
    select{
        width: 100%;
        background: transparent;
        border: 1px solid #fff;
        height: 35px;
        padding: 0 10px;
        color: #fff;
        &:focus{
            outline: 1px solid $sub-color;
            border: 1px solid $sub-color;
        }
        option{
            color: $sub-color;
            background: #3F4A59;
            
        }
    }
}
// end local component
// start  modal
.modal-dialog{
    max-width: 640px;
    .modal-header{
        padding: 10px;
        align-items: center;
        .close{
            padding: 0;
            margin: 0;
        }
    }
}
.body-img{
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            width: 100px;
            height: 100px;
            border: 2px solid transparent;
            margin: 10px;
            cursor: pointer;
            transition: all .5s;
            box-shadow: 0 1px 4px 1px #0000000d;
            img{
                width: 100%;
                height: 100%;
            }
            &.active{
                border: 2px solid $sub-color;
            }
        }
    }
}
// start  modal
// start bar
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $sub-color; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }